package handlers

import (
    "github.com/gofiber/fiber/v2"
)


func Login(c *fiber.Ctx) error {
    return nil
}

func Register(c *fiber.Ctx) error {
    return nil
}

func ForgotPassword(c *fiber.Ctx) error {
    return nil
}


func ResetPassword(c *fiber.Ctx) error {
    return nil
}


func Refresh(c *fiber.Ctx) error {
    return nil
}

