package handlers

import (
	"{{ dir .Package }}/db"
	"{{ dir .Package }}/ent"
    "encoding/json"

	"github.com/gofiber/fiber/v2"
	"github.com/rs/zerolog/log"
)

{{ if .Config.Swagger }}
// Query{{ plural .CurrentSchema.Name }} godoc
//
//	@Summary	Query {{ plural .CurrentSchema.Name }}
//	@Tags		{{ plural .CurrentSchema.Name | snake }}
//	@Produce	json
//	@Param		query	query		ent.{{ .CurrentSchema.Name }}QueryInput	false	"Query object"
//	@Success	200		{object}	models.Query{{ plural .CurrentSchema.Name | pascal }}Success
//	@Failure	400		{object}	models.Error
//	@Router		/{{ plural .CurrentSchema.Name | snake }}/ [get]
{{ end -}}
func Query{{ plural .CurrentSchema.Name }}(c *fiber.Ctx) error {
	query := new(ent.{{ .CurrentSchema.Name }}QueryInput)
    q := c.Query("query")
	
    if q != "" {
		err := json.Unmarshal([]byte(q), query)
		if err != nil {
			log.Debug().Msg(err.Error())
			return c.Status(fiber.StatusBadRequest).JSON(fiber.Map{
                "ok":false,
				"kind":"parse_query",
                "error":err.Error(),
            })
		}
	}

	limit := query.Limit
	offset := query.Offset
	
	query.Limit = nil
	query.Offset = nil

    client := db.Client.{{ .CurrentSchema.Name }}.Query().SetInput(query)

    total, err := client.Count(c.UserContext())
    if err != nil {
		log.Debug().Msg(err.Error())
		return c.Status(fiber.StatusBadRequest).JSON(fiber.Map{
		 	"ok": false,
			"kind":  "query_data",
			"error": err.Error(),
		})
	}

	if limit != nil {
		client.Limit(*limit)
	}

	if offset != nil {
		client.Offset(*offset)
	}
	
    {{ plural .CurrentSchema.Name | camel }}, _ := client.All(c.UserContext())
	return c.JSON(fiber.Map{
	 	"ok":true,
		"total":        total,
		"data": {{ plural .CurrentSchema.Name | camel }},
	})
}

{{ if .Config.Swagger }}
// Create{{ .CurrentSchema.Name }} godoc
//
//	@Summary	Create {{ .CurrentSchema.Name }}
//	@Tags		{{ plural .CurrentSchema.Name | snake }}
//	@Accept		json
//	@Accept		mpfd
//	@Produce	json
//	@Param		input	body		ent.{{ .CurrentSchema.Name }}CreateInput	true	"Create {{ .CurrentSchema.Name }}"
//	@Success	200		{object}	ent.{{ .CurrentSchema.Name }}
//	@Failure	400		{object}	models.Error
//	@Router		/{{ plural .CurrentSchema.Name | snake }}/ [post]
{{ end -}}
func Create{{ .CurrentSchema.Name }}(c *fiber.Ctx) error {
	input := new(ent.{{ .CurrentSchema.Name }}CreateInput)
	err := c.BodyParser(input)
	if err != nil {
		log.Debug().Msg(err.Error())
		return c.Status(fiber.StatusBadRequest).JSON(fiber.Map{
			"kind":  "parse_body",
			"error": err.Error(),
		})
	}

	{{ camel .CurrentSchema.Name  }}, err := db.Client.{{ .CurrentSchema.Name }}.Create().SetInput(input).Save(c.UserContext())
	if err != nil {
		log.Debug().Msg(err.Error())
		return c.Status(fiber.StatusBadRequest).JSON(fiber.Map{
			"kind":  "create_entity",
			"error": err.Error(),
		})
	}

	return c.JSON({{ camel .CurrentSchema.Name }})
}

{{ if .Config.Swagger }}
// Update{{ .CurrentSchema.Name }} godoc
//
//	@Summary	Update {{ .CurrentSchema.Name }}
//	@Tags		{{ plural .CurrentSchema.Name | snake }}
//	@Accept		json
//	@Produce	json
//	@Param		id		path		string						true	"{{ .CurrentSchema.Name }} ID"
//	@Param		input	body		ent.{{ .CurrentSchema.Name }}UpdateInput	true	"Update {{ .CurrentSchema.Name }} Body"
//	@Success	200		{object}	ent.{{ .CurrentSchema.Name }}
//	@Failure	400		{object}	models.Error
//	@Router		/{{ plural .CurrentSchema.Name | snake }}/:id [patch]
{{ end -}}
func Update{{ .CurrentSchema.Name }}(c *fiber.Ctx) error {
	input := new(ent.{{ .CurrentSchema.Name }}UpdateInput)
	id := c.Params("id")

	err := c.BodyParser(input)
	if err != nil {
		log.Debug().Msg(err.Error())
		return c.Status(fiber.StatusBadRequest).JSON(fiber.Map{
			"kind":  "parse_body",
			"error": err.Error(),
		})
	}

	{{ camel .CurrentSchema.Name }}, err := db.Client.{{ .CurrentSchema.Name }}.UpdateOneID(id).SetInput(input).Save(c.UserContext())
	if err != nil {
		log.Debug().Msg(err.Error())
		return c.Status(fiber.StatusBadRequest).JSON(fiber.Map{
			"kind":  "update_entity",
			"error": err.Error(),
		})
	}

	return c.JSON({{ camel .CurrentSchema.Name }})
}

{{ if .Config.Swagger }}
// Delete{{ .CurrentSchema.Name }} godoc
//
//	@Summary	Delete {{ .CurrentSchema.Name }}
//	@Tags		{{ plural .CurrentSchema.Name | snake }}
//	@Produce	json
//	@Param		id	path		string	true	"{{ .CurrentSchema.Name }} ID"
//	@Success	200	{object}	nil
//	@Failure	400	{object}	models.Error
//	@Failure	404	{object}	models.Error
//	@Router		/{{ plural .CurrentSchema.Name | snake }}/:id [delete]
{{ end -}}
func Delete{{ .CurrentSchema.Name }}(c *fiber.Ctx) error {
	id := c.Params("id")
	err := db.Client.{{ .CurrentSchema.Name }}.DeleteOneID(id).Exec(c.UserContext())
	if err != nil {
		log.Debug().Msg(err.Error())
		status := fiber.StatusBadRequest

		if ent.IsNotFound(err) {
			status = fiber.StatusNotFound
		}

		return c.Status(status).JSON(fiber.Map{
			"kind":  " delete_entity",
			"error": err.Error(),
		})
	}
	return c.Status(fiber.StatusOK).JSON(nil)
}