package models

type LoginInput struct {
	Email      string `json:"email,omitempty" form:"email,omitempty"`
	Password   string `json:"password,omitempty" form:"password,omitempty"`
	RememberMe bool   `json:"remember_me" form:"remember_me,omitempty"`
}

type ResetPasswordInput struct {
	NewPassword     string `json:"new_password,omitempty" form:"new_password,omitempty"`
	ConfirmPassword string `json:"confirm_password,omitempty" form:"confirm_password,omitempty"`
}

type ForgotPasswordInput struct {
	Email string `json:"email,omitempty" form:"email,omitempty"`
}

type ChangePasswordInput struct {
	Password    string `json:"password,omitempty" form:"password,omitempty"`
	NewPassword string `json:"new_password,omitempty" form:"new_password,omitempty"`
}

type Files struct {
    Files []string `json:"files"`
}

type ForgotPasswordBody struct {
    Email string `json:"email,omitempty" form:"email,omitempty"`
}

type RegisterBody struct {
    Username string   `json:"username,omitempty" form:"username,omitempty"`
    Email    string   `json:"email,omitempty" form:"email,omitempty"`
    Password string   `json:"password,omitempty" form:"password,omitempty"`
}

