package routes

import (
    "{{ dir .Package }}/handlers"
    "github.com/gofiber/fiber/v2"
)

func routes(r fiber.Router) {
    {{ range .Schemas }}
    {{ $r := plural .Name | camel  }}
    {{- $pn := pascal .Name}}
    {{- $ppn := pascal .Name | plural -}}
        {{$r }} := r.Group("/{{ $r }}")
        {{ $r }}.Get("/", handlers.Query{{ $ppn }})
        {{ $r }}.Post("/", handlers.Create{{ $pn }})
        {{ $r }}.Patch("/:id", handlers.Update{{ $pn }})
        {{ $r }}.Delete("/:id", handlers.Delete{{ $pn }})
    {{ end }}
}