//go:build ignore
// +build ignore

package models

import "{{ dir .Package }}/ent"

type LoginSuccess struct {
	Token string   `json:"token,omitempty"`
	User  ent.User `json:"user,omitempty"`
}

type Error struct {
	Ok    bool   `json:"ok,omitempty"`
	Kind  string `json:"kind,omitempty"`
	Error string `json:"error,omitempty"`
}

{{ range .Schemas }}
type Query{{ plural .Name | pascal }}Success struct { 
    Total string `json:"total"`
    Data []ent.{{pascal .Name }} `json:"data"`
}
{{ end }}