package handlers

import (
    "github.com/gofiber/fiber/v2"
)

{{ if .Sawgger }}
// Upload Files godoc
//
//	@Summary	Upload Files
//	@Tags		files
//	@Produce	json
//	@Param		input body		string	true	"Upload Files"
//	@Success	200	 {object}	models.UploadFilesBody
//	@Failure	400	 {object}	models.Error
//	@Router		/files [post]
{{ end -}}
func UploadFiles(c *fiber.ctx) error {
    return nil
}

{{ if .Sawgger }}
// Delete Files godoc
//
//	@Summary	Delete Files
//	@Tags		files
//	@Accept	    json
//	@Produce	json
//	@Param		input body		models.Files	true	"Upload File Body"
//	@Success	200	 {object}	models.Files
//	@Failure	400	 {object}	models.Error
//	@Router		/files [delete]
{{ end -}}
func DeleteFiles(c *fiber.ctx) error {
    return nil
}

