import {} from "./types"
import axios from "axios";



class Api {
    private baseURL: string;
    
    constructor(url: string) {
        this.baseURL = url;
    }
    
    query(resource string) {}
    find() {}
    create() {}
    update() {}
    delete() {}
    upload() {}
}