//go:build ignore
// +build ignore

package models

type UploadFilesBody struct {
	Files []string `json:"files,omitempty" form:"files,omitempty"`
}

type UploadFileBody struct {
	File string `json:"file,omitempty" form:"file,omitempty"`
}

{{ range .Schemas }}
type Query{{ plural .Name | pascal }}Result { 
    Total string `json:"total"`
    Pages string `json:"pages"`
    {{ plural .Name | pascal }} ent.{{pascal .Name }} `json:"{{ plural .Name | case }}"`
}
{{ end }}